Tuple Creation

In [2]:
# empty tuple

t = ()

# tuple having intergers 

t = (1,2,3,4,5)
print(t)

# tuple with mixed datatypes

t = (1, 'raju', 25.5, 'xyz')
print(t)

# nested tuple

t = (1, (11,22,33), [1, 'raju', 25.5, 'xyz'], 'ABC')
print(t)

(1, 2, 3, 4, 5)
(1, 'raju', 25.5, 'xyz')
(1, (11, 22, 33), [1, 'raju', 25.5, 'xyz'], 'ABC')

In [6]:
# only parenthesis is not enough
# if there is only one element then a comma is needed at the end 

t = ('Python')
type(t)

str

In [7]:
t = ('Python',) # t = 'satish',
type(t)

tuple

In [4]:
t = ('Python', 'SQL')
type(t)

tuple

Accessing Elements in Tuple

In [9]:
t = ('ab', 'cd', 'ef', 'xyz')

print(t[2])
print(t[-1]) # using negative index

ef
xyz

In [11]:
t = ('ab', 'cd', 'ef', ('xyz', 'pqr', 'abc'))
print(t[3][1])
print(t[-1])

pqr
('xyz', 'pqr', 'abc')

In [13]:
# slicing

t = (2, 4, 6, 8, 10)

print(t[1:4])

print(t[:]) # print elements from starting to end

(4, 6, 8)
(2, 4, 6, 8, 10)

In [14]:
# Changing elements of a list inside a tuple does not gives error

t = (2, 4, 6, [8, 10, 12])

t[3][1] = 'changed'

print(t)

(2, 4, 6, [8, 'changed', 12])

In [15]:
# Concatinating tuples

t = (1, 3, 5, 7) + (2, 4, 6, 8)
print(t)

(1, 3, 5, 7, 2, 4, 6, 8)

In [16]:
t = (('Python', )*3)
print(t)

('Python', 'Python', 'Python')

In [17]:
# removal of a single item from tuple is not possible because of immutability.
t = (1, 3, 5, 7, 2, 4, 6, 8)

del t

In [20]:
# tuple count 

t = (1,4,6,1,5,1,5,6)
t.count(1)

# tuple index

t = (1,4,6,1,5,1,5,6) # returns the index of the first occurence of the searched element
t.index(6)

2

In [21]:
# Tuple Membership
#in   and   not in   can be used

t = (2, 4, 6, 8, 10)

print(1 in t)
print(2 in t)

False
True

In [3]:
# Built in Functions

t = (2, 6, 8, 4, 10)


sorted_tuple = sorted(t)
print(type(sorted_tuple))
print("Sorted tuple :", sorted_tuple)

print(max(t))
print(min(t))
print(sum(t))

<class 'list'>
Sorted tuple : [2, 4, 6, 8, 10]
10
2
30

In [2]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'