## List Creation

In [22]:


emptyList = []

lst1 = [1,2,3] # list of intergers

lst2 = [[1,2], [3,4], [5,6]] # list of lists

lst3 = [1, 4.5, "Alex"] # list of different datatypes

lst4 = ['one', 'two', 'three'] # list of strings

In [19]:
# list length 
print(len(lst2))

3

## list append

In [20]:
lst4.append('four') # append adds the item at the end of the list
print(lst4)

['one', 'two', 'three', 'four']

## list insert

In [23]:
lst1.insert(0, 'zero') # insert 'four' at location index 4
print(lst1)

['zero', 1, 2, 3]

## list remove

In [25]:

lst = ['one', 'two', 'three', 'four' ,'two']
lst.remove('two') # removes the first occurence of 'two' in a given list
print(lst)

['one', 'three', 'four', 'two']

## list append and extend

In [39]:


lst = ['one', 'two', 'three', 'four']
lst2 = ['five' ,'six']
lst.append(lst2) # creates a list witin a list
print(lst)
print('\n')

['one', 'two', 'three', 'four', ['five', 'six']]

## list extend

In [31]:
# list extend

lst = ['one', 'two', 'three', 'four']
lst2 = ['five' ,'six']

lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

## list delete and pop

In [33]:
lst = ['one', 'two', 'three', 'four', 'five' ,'six']

del(lst[2]) # delete item based on index position
print(lst)

a = lst.pop(3) # we can assign a variable to the popped element
print(a)

print(lst)

['one', 'two', 'four', 'five', 'six']
five
['one', 'two', 'four', 'six']

## List related keyword in Python

In [37]:
lst = ['one', 'two', 'three', 'four', 'five' ,'six']

if 'three' in lst:
    print(3)
    
if 'seven' not in lst:
    print(7)

3
7

## list reverse

In [41]:
lst = ['one', 'two', 'three', 'four', 'five' ,'six']
lst.reverse()
print(lst)

['six', 'five', 'four', 'three', 'two', 'one']

## List Sorting

In [44]:
# original list remains unchanged
nos = [4,6,2,9,1]
sorted_lst = sorted(nos)
print(sorted_lst)
print(nos)

[1, 2, 4, 6, 9]
[4, 6, 2, 9, 1]

In [48]:
# print list in reverse sorted order

nos = [2,6,7,8,9,3]

srt_lst = sorted(nos, reverse = True)
print("Sorted list :",srt_lst)
print("Original list :", nos)

Sorted list : [9, 8, 7, 6, 3, 2]
Original list : [2, 6, 7, 8, 9, 3]

In [49]:
# sort the list and store in itself

nos = [2,6,7,8,9,3]
nos.sort()
print(nos)

[2, 3, 6, 7, 8, 9]

In [50]:
# sorting with different datatypes

lst = [1, 9, "Three", 4]
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

## List having multiple References

In [52]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

# both abc and lst points to the same memory location where the list is stored

# print original list
print(lst)

[1, 2, 3, 4, 5, 6]

## String split to create a list

In [53]:
DOB = 'one,nine,nine,eight'
lst_DOB = DOB.split(',')
print(lst_DOB)

['one', 'nine', 'nine', 'eight']

In [54]:
DOB = 'One Nine Nine Eightr'
lst_DOB = DOB.split(' ') # default split is white-character: space or tab
print(lst_DOB)

['One', 'Nine', 'Nine', 'Eightr']

## List Indexing

In [56]:
lst = [1,2,3,4]
print(lst[2])

# printing the last item

print(lst[-1])

3
4

## List Slicing

In [ ]:
# syntax  : lst[start:end:step_size]

In [57]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
print(lst[1::2])

[20, 40, 60, 80]

## List Extend using "+"

In [58]:
lst1 = ['one', 'two', 'three']
lst2 = [1,2,3]
print(lst1 + lst2)

['one', 'two', 'three', 1, 2, 3]

## List Count

In [59]:
nos = [1,2,3,7,3,3,3,3,8]

#frequency of 3 in the list
print(nos.count(3))

5

## List Looping

In [60]:
lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

In [1]:
# Matrix transpose without using list comprehension


matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [2]:
# Matrix transpose using list comprehension


transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]